body {
  margin: 0;
  color: #45525b;
  font-family: Arial, Helvetica, sans-serif;
}


.logo {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;
}
header {
  padding: 0px 136px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;

}
nav {
  display: grid;
}
ul {
  list-style: none;
}

a {
  margin-left: 30px;
  color: black;
  text-decoration: none;

}
main {
  height: 800px;
  background: url(./61127627883dbb0802b613e3_Hero\ Background\ 1.png);
  background-size: cover;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  align-content: center;
  position: relative;
  z-index: 1;
  text-align: center;
}
.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(179, 177, 177, 0.6);
}
.comment{
  display: grid;
  gap: 20px;
}
.manager h3{
  margin: 0;
  margin-top: 20px;
}
.manager{
  margin: 0;
  display: grid;
  justify-content:left;
}
.content {
  background-color: #fafafc;
  padding: 99px 136px;
  display: grid;
  grid-auto-flow: column;
  gap: 100px;
}
.goal {
  display: grid;
  align-content: center;
}
.content p{
  line-height: 18px;
}
h2 {
  margin: 0;
  font-size: 48px;
  color: #45525b;
  font-weight: 300;
}
h3{
  font-weight: 300;

}
h4{
  font-weight: 500;
}
.requirement{
  display: grid;
  justify-content: center;
}
 span {
  color: red;
}

.requirements {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 100px 136px;
}
.requirements h3 {
  font-size: 38px;
  margin: 0;
}
.head span {
  color: red;
  justify-content: center;
}
.head p {
  margin-top: 10px;
  font-size: 18px;
  width: 450px;
  text-align: center;
}
.review {
  display: grid;
  grid-auto-flow: column;
  gap: 32px;
  align-items: center;
}
.city {
  margin-top: 20px;
  max-width: 480px;
}
.review h4,
p {
  margin: 0;
}
.review p {
  width: 250px;
}
.view img {
  margin-top: 80px;
}
.view {
  gap: 20px;
}

.image {
  background: url(./Background.png);
  height: 600px;
}

.team {
  padding: 100px 136px;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.team h2 {
  width: 400px;
}

.team p {
  width: 400px;
}

.agents {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1fr);
}
.agent {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
}
.agent h3{
  margin:0;
  margin-top: 20px;

}
.agent img {
  grid-area: 1/1/3/2;
}
.meeting a{
  margin: 0;
  vertical-align: middle;
}
.meeting img{
  vertical-align:middle ;
}
.meeting p{
  margin: 10px 0;
}

.newroom, h2{
  display: grid;
  justify-items: center;
}

.Newsroom{
  background-color: #FAFAFC;
  padding: 100px 100px;
}
.houses{
  margin-top: 20px;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}
.glued_text{
  background: white;
  border-radius: 0 0 10px 10px;
  padding: 30px;
  gap: 8px;
  height: 100px;
}
.glued_text h3{
  margin-top: 8px;
  margin-bottom: 28px;
  font-weight: 300;
}